@using time_trace.Components
@using System.Diagnostics
@using System.Text.Json
@model time_trace.Models.Schedule
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    ViewData["Title"] = Model.Name;
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
    string? userName = (string?) ViewData["userName"];

    HashSet<DateTime> InitialUserTimes = new();
    Dictionary<DateTime, HashSet<String>> InitialAllTimes = new();

    List<String> users = Model.UserSchedules.Select(us => us.User.UserName).ToList();
    String owner = Model.Owner.UserName;

    var userSchedule = Model.UserSchedules.FirstOrDefault(u => u.User.UserName == userName);
    if (userSchedule != null)
    {
        InitialUserTimes.UnionWith(userSchedule.TimeSlots.Select(t => t.DateTime));
    }

    var allTimeSlots = Model.UserSchedules.SelectMany(us => us.TimeSlots);
    if (allTimeSlots != null)
    {
        foreach (var timeSlot in allTimeSlots)
        {
            if (!InitialAllTimes.ContainsKey(timeSlot.DateTime))
            {
                InitialAllTimes.Add(timeSlot.DateTime, new HashSet<String>());
            }
            InitialAllTimes[timeSlot.DateTime].Add(timeSlot.UserSchedule.User.UserName);
        }
    }

    var DateDisplayArgs = JsonSerializer.Serialize(new {
        user = userName,
        users = users,
        owner = owner,
        initialUserTimes = InitialUserTimes.Select(t => new DateTimeOffset(t).ToUnixTimeMilliseconds()),
        initialAllTimes = InitialAllTimes,
        requestToken = requestToken,
        postDateApi = ViewData["postDateApi"],
    });

    var ShareCodeArgs = JsonSerializer.Serialize(new
    {
        sharecode = ViewData["ShareURL"]
    });
}

<div class="text-center">
    
    <div data-react-component="DateDisplay" data-args="@DateDisplayArgs"></div>

    @if(userName == Model.Owner.UserName)
    {
            <div data-react-component="ShareCode" data-args="@ShareCodeArgs"></div>
    }

</>
