@using time_trace.Components
@using System.Diagnostics
@using System.Text.Json
@model time_trace.Models.Schedule


@{
    ViewData["Title"] = Model.Name;
    string userName = "";
    HashSet<DateTime> InitialUserTimes = new();

    if (User.Identity != null) userName = @User.Identity.Name ?? "";
    var userSchedule = Model.UserSchedules.FirstOrDefault(u => u.User.UserName == userName);
    if (userSchedule != null) InitialUserTimes.UnionWith(userSchedule.TimeSlots.Select(t => t.DateTime));
    var InitialOtherTimes = Model.UserSchedules.Where(us => us.User.UserName != userName)
        .ToDictionary(
            us => us.User.UserName,
            us => us.TimeSlots.Select(t => t.DateTime).ToHashSet()
        );
    Debug.WriteLine($"INITIAL USER TIMES: [{string.Join(" | ",InitialUserTimes)}]");
    Debug.WriteLine($"OTHER USER TIMES: [{string.Join(" | ", InitialOtherTimes.Values.SelectMany(h => h))}]");

    var JSONARGS = JsonSerializer.Serialize(new { TEST1 = "cats", TEST2 = new HashSet<int> { 1, 2, 3 } });
}

<div class="text-center">
    
    <div data-react-component="DateDisplay" initial-data=JSONARGS></div>

    


    <form asp-action="Edit">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input class="form-control" name="dateTimes" type="DateTime-local" />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
