@model IEnumerable<time_trace.Models.Schedule>

@{
    ViewData["Title"] = "Schedules";
    string userName = "";
    if (User.Identity != null) userName = @User.Identity.Name ?? "";

}

    <div class="index-container">
        <div class="index-row">
            <div class="index-title">
            <p>Schedules</p>
            </div>
            <div class="index-title-create">
                <form method="get">
                    <button class="index-button" asp-action="Create">Create New Schedule</button>
                </form>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="index-row">
                <div class="index-item-title">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="index-item">
                    <form>
                        <button class="index-button" asp-action="Edit" asp-route-id="@item.Id">Edit</button>
                    </form>
                </div>
                <div class="index-item">
                @if (item.Owner.UserName == userName)
                {
                    <form method="post">
                        <button class="index-button" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                    </form>
                }
                </div>
            </div>
        }
    </div>
