
.dateDisplayContainer {
    display: flex;
}

.dateTableWrapper {
    margin: 20px;
}

.dateTimeTable {
    border: 1px solid;
}

.timeSlot {
    border: 1px solid;
    user-select: none;
    min-width: 4em;
}

.timeRow {
    user-select: none;
}

.timeRowHeader {
    font-size: x-small;
    margin: 5px;
}

.timeSlotHeader {
    font-size: x-small;
    margin: 3px;
}

.userListWrapper {
    background-color: lightgray;
    padding: 5px 10px 5px 10px;
    height:100%;
}

.ListContainer {
    display: flex;
    flex-direction: column;
}

.selectedTime {
    
}

.user0 {
    background-color: #ffffff;
}

.user1 {
    background-color: #b3e6ff;
}

.user2 {
    background-color: #3385ff;
}

.user3 {
    background-color: #0033cc;
}

.other1 {
    background-color: #66ff66;
}

.other2 {
    background-color: #009900;
}

.other3 {
    background-color: #006600;
}
