
.dateDisplayContainer {
    display: flex;
}

.dateTableWrapper {
    margin: 20px;
}

.dateTimeTable {
    border: 1px solid;
}

.timeSlot {
    border: 1px solid;
    user-select: none;
}

.timeRow {
    user-select: none;
}

.timeRowHeader {
    font-size: x-small;
    margin: 5px;
}

.timeSlotHeader {
    font-size: x-small;
    margin: 3px;
}

.selectedTime {
    background-color: #99ccff;
}
