
.dateDisplayContainer {
    display: flex;
}

.dateTableWrapper {
    margin: 20px;
}

.dateTimeTable {
    border: 1px solid;
}

.timeSlot {
    border: 1px solid;
    user-select: none;
}

.timeRow {
    user-select: none;
}

.timeRowHeader {
    font-size: x-small;
    margin: 5px;
}

.timeSlotHeader {
    font-size: x-small;
    margin: 3px;
}

.selectedTime {
    
}

.density0 {
    background-color: #ffffff;
}

.density1 {
    background-color: rgb(180,255,180);
}

.density2 {
    background-color: rgb(100,200,100);
}

.density4 {
    background-color: rgb(50,150,50);
}

.density5 {
    background-color: rgb(0,90,0);
}
